beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1
distro==1.5.0
html2text==2020.1.16
idna==2.10
lxml==4.5.2
matrix-client==0.3.2
pycparser==2.20
pyOpenSSL==19.1.0
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.10
zulip==0.7.0
zulip-bots==0.7.0
